body{
	color: rgb(0,0,0);
	background-image: url(images/image3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 20px;
	font-family: Courier;
}
.container{
    width: 700px;
    margin:40px auto;
}
.card-white{
	background-color: white;
	padding:40px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
	border-radius:4px ;
	margin: 20px;
	text-align: center;


}
.img-circle{
	border-radius: 50%;
}
.btn-blueviolet{
	background-color: blueviolet;
	color: white;
	padding: 15px 20px;
	border-radius:4px ;


}
.btn-blueviolet:hover{
	background-color: skyblue;
	color:white;
}

h1,h2{
	color :blueviolet ;
}


a{
	text-decoration: none;
	color:red;
	font-weight: bolder;

}
.list-inline{
	list-style: none;
	padding: 0px;

}

.list-inline li{
	display: inline;
}
.list-inline i{
	font-size: 50px;
	color:blueviolet;
}
.fa-youtube:hover {
    color: red;
}
.fa-linkedin:hover {
    color: rgb(0, 119, 181);
}
.fa-square-github:hover{
	color: rgb(0, 3, 51);
}
.fa-discord:hover{
	color: rgb(114,137,218);
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
